
.Layout {
  display: flex;
    flex-direction: column;
    gap: 5px;
}

.DayGrid {
border-collapse: collapse;
}


.DayGrid tr {
  padding: 10px;
  display: block;
  border: 1px solid black;
}

.DayGridHour {
  width: 50px;
}